<style>

.inventory figure {
  background: whitesmoke;
  margin: 0 0 40px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.inventory figcaption {
  padding: 20px;
}

.inventory img {
  width: 100%;
  height: auto;
  display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul.inventory {
  margin: 0;
  padding: 0;
}

.inventory li {
  list-style-type: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
}

</style>
