---
title: Lockdown-Skala
permalink: /covid-19/lockdown
layout: default
---
<h1>Lockdown-Skala</h1>

<p>
  Es geht hierbei vor allem darum, zwischen "Lockdown", "Lockdown" und "Lockdown" unterscheiden zu können.
  "Wie hart schränken Maßnahmen den Alltag ein?" ist die Leitfrage; nicht wie gut sie wirken.
</p>

<hr>

<form id="form_1">

  <table>
    {% for section in site.data.covid-19.lockdown.sections %}
    <tr>
      <th style="text-align: left; font-weight: normal; padding-right: 10px;">
        <label for="{{ section.id }}">{{ section.name }}</label>
      </th>
      <td>
        <select style="width:100%" name="{{ section.id }}" id="{{ section.id }}" onchange="calc()">
          {% for value in section.value %}
          <option value="{{ value.value }}">{{ value.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th style="text-align: left;">Lockdown-Skala</th>
      <td><b id="result">0</b></td>
    </tr>
  </table>

</form>

<hr>

<p>
  Quelle für die Methodik:
  <a href="https://www.bsg.ox.ac.uk/sites/default/files/2021-06/BSG-WP-2020-032-v12_0.pdf">https://www.bsg.ox.ac.uk/sites/default/files/2021-06/BSG-WP-2020-032-v12_0.pdf</a>
  <br>
  Autor: Marcus Ewald / <a href="https://twitter.com/maewald">@maewald</a> / 20.12.2021
  <br>
  <a href="https://github.com/martinpallmann/martinpallmann.github.io/tree/master/covid-19/lockdown">Quelltext dieser Seite</a>
</p>

<script type="text/javascript">

  let initial = [];
  if (window.location.hash) {
    const hash = window.location.hash.substring(1);
    initial = hash.split(",")
  } else if (history.state) {
    initial = history.state.selected;
  }
  initial.forEach(param => {
    let a = param.split(/_(\d+)/);
    document.getElementById(a[0]).value = a[1];
  })
  calc();

  function calc() {
    let result = 0;
    let hash = "#"
    const state = {"selected": []}
    Array.from(document.getElementById("form_1").elements)
      .forEach(element => {
        if (hash === "#") {
          hash = hash + element.id + '_' + element.value
        } else {
          hash = hash + "," + element.id + '_' + element.value
        }
        state.selected.push(element.id + '_' + element.value)
        result = result + parseInt(element.value);
      })
    history.replaceState(state, '', hash)
    document.getElementById("result").innerText = result;
  }
</script>